


<div class="container">
    <h1>Is this you?</h1>
    <div class="row s6">
        <div class="row">
            <div class="s12">
                Name: {{name}}<br />
            </div>
        </div>
        <div class="row">
            <div class="s12">
                Email: {{email}}<br />
            </div>
        </div>
        <div class="row">
            <div class="s12">
                <img width="300" src="{{url}}" />
            </div>
        </div>

    </div>
</div>

<div class="row s6">
    <form class="col s6 black-text" action="/students" method="POST">
        <input type="hidden" name="username" value="{{username}}"/>
        <input type="hidden" name="githubName" value="{{githubName}}"/>
        <div class="row right-align">
            <button class="btn waves-effect waves-light" type="submit" name="action">Confirm and save
                <i class="mdi-navigation-check right"></i>
            </button>
        </div>
    </form>
</div>





