<div class="container">
    <h1>Welcome to register</h1>
    <div class="row s8">
        <p class="col s8">
            Please let us know your GitHub-account. We need this for us to follow your work in our courses.
            Connect your LNU student account name with your GitHub account name.
        </p>

    </div>
</div>



<div class="container">
    {{#if error }}
        <div class="row">
            <div class="col s12 m6">
                <div class="card red">
                    <div class="card-content white-text">
                        <span class="card-title">Something went wrong!</span>
                        <p>
                            The error is:
                            {{error}}
                        </p>
                    </div>

                </div>
            </div>
        </div>
    {{/if}}

    <div class="row s6">
                  <form class="col s6 black-text" method="POST">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="username" type="text" name="schoolUsername" class="validate">
                                <label for="username">Username at LNU</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="githubUsername" type="text" name="githubUsername" class="validate">
                    <label for="githubUsername">Username at GitHub.com</label>
                </div>
            </div>
            <div class="row right-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">Register your account
                    <i class="mdi-content-send right"></i>
                </button>
            </div>
        </form>
    </div>




</div>
